front/.DS_Store
front/node_modules/
front/dist/
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# Editor directories and files
front/.idea
front/.vscode
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/.env
front/.env.local
front/src/main.js